/*resetting*/
*
{
margin: 0;
padding: 0;
}


/*Header Design with seperator*/
header
{
  background-color: #add8e6;
  border-bottom: 50px #d3d3d3;
  position: auto;
  
}



/*Body design*/
body {
  background: #FFFFFF;
  font-family:sans-serif;

section {
 display: grid;
 grid-template-columns: auto auto auto auto;
 
}


}
/*Footer*/
footer 
{ 
  background: #000000;
  margin-top: 25px;
  text-align: left;
  padding: 8px;
  color: #FFFFFF;
}
  
  
   
  
  
  
