@charset "utf-8";
	

	html { 
	background: url(Images/CatImage.jpg);
	}
	

	body
	{
	}
	.racer {
	  width: 100pt;
	}
	

	#bunny {
	  position: absolute;
	  top: 400pt;
	  
	}
	

	#turtle {
	  position:absolute;
	  top: 250pt;
	}
	

	

	#stoplight{
	  position: absolute;
	  top: 20pt;
	  left:30pt;
	  width: 150pt;
	}
	

	#winnertext {
	  color: white;
	  font-size: 300%;
	  font-weight: bold;
	  position: relative;
	  top: 100pt;
	  text-align: center;
	}
