*
{
    margin: 0;
    padding: 0;
    }

    nav ul
    {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center;
      
      
    }
    .center {
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      footer{
        list-style: none;
        background: black;
        padding: 10px 50px;
        
      }
      footer p{
      color: white;
      }
       @media (min-width: 768px){
       header{
         display: flex;
         align-items: center;
         
      }
    }